.api-status-container {
    background-color: #1b2d48;
    border: 1px solid black;
    width: 100%;
    height: 115px;
    border-radius: 15px;
    display: flex;
    margin: 10px;
    align-items: center;

    user-select: none;
}

.api-status-item-container {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0a0a0a;
    border: 1px solid black;
}

.api-status-icon {
    
    height: 90%;
    width: 100%;
}

.api-status-icon img {
    height: 100%;
}

.api-status-bar {
    background-color: green;
    width: 100%;
    height: 10%;
}