.button {
    background-color: #1b1a42;
    outline: none;
    border: 0;
    color: var(--text);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 15px -6px #000000; 
    box-shadow: 0px 0px 15px -6px #000000;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.button:active {
    background-color: #131330 !important;
}

.button:hover {
    background-color: #232358;
}

.button:disabled {
    background-color: #3a4357 !important;
    color: #6e8294;
}