.corner-mark {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-content: flex-start;
    align-items: flex-start;

    .mark {
        height: 150px;
        width: 150px;
        z-index: 100;
        transition: background-color 1s ease-in-out;
    }

    .centered-item {
        position: absolute;
        width: 100%;
        height: 100%;

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .button-parent {
            z-index: 2;
            display: flex;

            .button {
                width: 200px;
                height: 100px;
    
                &:first-child {
                    background-color: green;
                }
                &:last-child {
                    background-color: blue;
                }
            }
        }

        .title {
            font-size: 50px;
            opacity: 30%;
            display: flex;

            background: red;
            justify-content: center;

            .button {
                width: 300px;
                height: 300px;
            }
        }

        .animated-border {
            width: 85%;
            height: 85%;
        
            z-index: 0;
            
            border-radius: 20px;
            overflow: hidden;
            padding: 2rem;
            
            &::before {
                content: '';
                position: absolute;
                z-index: -2;
                left: -50%;
                top: -50%;
                width: 200%;
                height: 200%;
                background-color: #399953;
                background-repeat: no-repeat;
                background-size: 50% 50%, 50% 50%;
                background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                background-image: linear-gradient(purple, blue), linear-gradient(blue, purple), linear-gradient(purple, blue), linear-gradient(blue, purple);
                animation: rotate 4s linear infinite;
            }
            
            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 6px;
                top: 6px;
                width: calc(100% - 12px);
                height: calc(100% - 12px);
                border-radius: 15px;
                animation: opacityChange 3s infinite alternate;
                background: #383838;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}